@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@layer base {
  body {
    @apply bg-background;
  }
  :root {
    --color-primary: 0, 0, 0;
    --color-secondary: 238, 238, 238;
    --color-background: 250, 250, 250;
    --color-error: 176, 0, 32;
  }
  .theme-prehrana {
    --color-primary: 21, 195, 154;
  }
  .theme-obavijesti {
    --color-primary: 43, 118, 223;
  }
  .theme-smjestaj {
    --color-primary: 250, 127, 40;
  }
  .theme-kultura {
    --color-primary: 207, 36, 42;
  }
  .theme-student-servis {
    --color-primary: 86, 131, 154;
  }
  .theme-pocetna-stranica {
    --color-primary: 43, 118, 223;
  }
  .theme-sport {
    --color-primary: 0, 150, 136;
  }
  .theme-turizam {
    --color-primary: 250, 127, 40;
  }
  .theme-eventi {
    --color-primary: 2, 132, 199;
  }
  .theme-catering {
    --color-primary: 234, 179, 8;
  }
}

@layer utilities {
  .translate-y-0 {
    transform: translateY(0px);
  }
  .-translate-y-full {
    transform: translateY(-100%);
  }
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

@layer components {
  input,
  textarea {
    @apply outline-none px-3 py-2 bg-secondary;
  }
}

.MuiInputBase-root {
  background-color: rgb(238, 238, 238) !important;
  border-radius: 0.5rem !important;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(229 231 235);
}

::-webkit-scrollbar-thumb {
  background: rgb(156 163 175);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(107 114 128);
}
