#toolbar {
  outline: none;
  border: none;
}

.ql-header {
  position: relative !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: none;
}

@media (min-width: 640px) {
  .ql-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.ql-container,
.ql-snow {
  border: none !important;
  font-family: "Open Sans", "sans-serif" !important;
}

.ql-editor blockquote {
  border-left: 5px solid rgb(43, 118, 223) !important;
}

.ql-editor,
.ql-blank {
  font-size: 1rem;
  font-family: "Open Sans", "sans-serif" !important;
}

.ql-editor img {
  border-radius: 10px;
}

.ql-header {
  min-width: 100px !important;
}

.ql-editor:before {
  font-style: normal !important;
}

.ql-editor h3 {
  font-size: 1.25rem !important;
  font-weight: 600;
}

.ql-editor h1 {
  font-size: 1.5rem !important;
  font-weight: 600;
}

.ql-editor iframe {
  width: 100%;
  min-height: 300px;
  height: 100%;
}

.obavijest-title p,
.obavijest-title .ql-blank {
  font-size: 1.5rem;
  line-height: 2rem;
}
